/* Write your CSS here */
.bg-container {
  background-color: #93c5fd;
  background-size: cover;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.white-container {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: white;
  border-radius: 10px;
}
.input-para-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.country-name {
  align-self: flex-start;
  font-size: 24px;
  padding-left: 10px;
  font-weight: bold;
}
